/* Variables */


:root {

    /* GLOBAL */
    /* > Colors */

    /* Custom colors have 2 variables: in regular rgb() form (easier to see and 
    adjust color if needed); and as just the rgb numbers (-p suffix, 
    for "partial"), which can be used in rgba() param to adjust opacity */
    
    /* Changing colors: Change/add named colors, then update core, comp, neutral, 
    dark variables. The main components are (with a few exceptions) linked to the latter. */

    --white: 255, 255, 255;
    --black: 0, 0, 0;

    --grey-light-2: rgb(210, 217, 223);
    --grey-light-2-p: 210, 217, 223;
    --grey-light-1: rgb(173, 181, 189);
    --grey-light-1-p: 173, 181, 189;
    --grey: rgb(108, 117, 125);
    --grey-p: 108, 117, 125;
    --grey-dark-1: rgb(73, 80, 87);
    --grey-dark-1-p: 73, 80, 87;
    --grey-dark-2: rgb(52, 58, 64);
    --grey-dark-2-p: 52, 58, 64;
    --grey-dark-3: rgb(25, 28, 31);
    --grey-dark-3-p: 25, 28, 31;
    --grey-darkest: rgb(21, 21, 21);
    --grey-darkest-p: 21, 21, 21;

    /* --green-light-2: rgb(75, 196, 42);
    --green-light-2-p: 84, 180, 53; */
    --green-light-2: rgb(11, 189, 62);
    --green-light-2-p: 11, 189, 62;
    --green-light-1: rgb(5, 148, 45);
    --green-light-1-p: 5, 148, 45;
    --green: rgb(3, 124, 38);
    --green-p: 3, 124, 38;
    --green-dark-1: rgb(5, 90, 25);
    --green-dark-1-p: 5, 90, 25;
    --green-dark-2: rgb(2, 59, 16);
    --green-dark-2-p: 2, 59, 16;
    --green-dark-3: rgb(1, 35, 9);
    --green-dark-3-p: 1, 35, 9;

    --plum-light-2: rgb(147, 24, 69);
    --plum-light-2-p: 147, 24, 69;
    --plum-light-1: rgb(129, 20, 60);
    --plum-light-1-p: 129, 20, 60;
    --plum: rgb(109, 15, 49);
    --plum-p: 109, 15, 49;
    --plum-dark-1: rgb(67, 7, 29);
    --plum-dark-1-p: 67, 7, 29;

    --red-light-1: rgb(178, 24, 60);
    --red-light-1-p: 178, 24, 60;
    --red: rgb(218, 39, 69);
    --red-p: 160, 13, 38;

    --red-light-1: rgb(192, 31, 57);
    --red-light-1-p: 192, 31, 57;
    --red: rgb(181, 25, 51);
    --red-p: 181, 25, 51;

    --green-yellow: rgb(168, 255, 54);
    --green-yellow-p: 168, 255, 54;
    --yellow: rgb(255, 218, 54);
    --yellow-p: 255, 218, 54;


    --core-light-1: var(--green-light-2);
    --core-light-1-p: var(--green-light-2-p);
    --core: var(--green-light-1);
    --core-p: var(--green-light-1-p);
    --core-dark-1: var(--green);
    --core-dark-1-p: var(--green-p);
    --core-dark-2: var(--green-dark-2);
    --core-dark-2-p: var(--green-dark-2-p);

    /* --core-comp-light-1: var(--plum-light-2);
    --core-comp-light-1-p: var(--plum-light-2-p);
    --core-comp: var(--plum-light-1);
    --core-comp-p: var(--plum-light-1-p); */
    
    --core-comp-light-1: var(--red-light-1);
    --core-comp-light-1-p: var(--red-light-1-p);
    --core-comp: var(--red);
    --core-comp-p: var(--red-p);
    --core-comp-dark-1: var(--plum);
    --core-comp-dark-1-p: var(--plum-p);

    --neutral-bw: var(--grey);
    --neutral-bw-p: var(--grey-p);
    --neutral-dark-1: var(--grey-dark-1);
    --neutral-dark-1-p: var(--grey-dark-1-p);
    --neutral-dark-2: var(--grey-dark-2);
    --neutral-dark-2-p: var(--grey-dark-2-p);
    --neutral-dark-3: var(--grey-dark-3);
    --neutral-dark-3-p: var(--grey-dark-3-p);

    --dark: var(--grey-darkest);
    --dark-p: var(--grey-darkest-p);


    /* > Font size */

    --fs-xs: .8rem;
    --fs-sm: 1rem;
    --fs-m: 1.25rem;
    --fs-lg: 1.5rem;
    --fs-xl: 2rem;
    --fs-xxl: 2.5rem;


    /* > Other */

    --box-shadow-xs: 0 .125rem .25rem rgba(var(--black), .075);
    --box-shadow-sm: 0 .125rem .25rem rgba(var(--black), .20);
    --box-shadow: 0 .5rem .9rem rgba(0, 0, 0, 0.25);
    --box-shadow-lg: 0 1rem 1.5rem rgba(var(--black), .3);
    --box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.299);

    

    /* BODY */

    /* > Main */

    --text-color: rgb(var(--white));
    --font-size: var(--fs-sm);
    --font-family: 'M PLUS 1p', sans-serif;

    --background-color: var(--dark);
    --background-color-p: var(--core-p);
    --secondary-grad: rgba(var(--dark-p), .4), 10%, rgba(var(--green-light-1-p), 0.3), transparent;
    --main-grad: rgba(var(--dark-p), 1), 4%, rgba(var(--green-dark-1-p), .3), 20%, rgba(var(--green-light-1-p), 0.2), transparent;
    --background-grad: linear-gradient(to bottom, var(--secondary-grad)), linear-gradient(to top, var(--secondary-grad)), linear-gradient(to left, var(--main-grad)), linear-gradient(to right, var(--main-grad)), radial-gradient(var(--core), rgba(var(--green-p), 0.3), 92%, rgba(var(--green-dark-3-p), 0.3), 97%, rgba(var(--dark-p), .95));

    --border-radius: .5rem;
    --border-color: var(--neutral-dark-2);
    --border-color-p: var(--neutral-dark-2-p);
    --border-width: 1px;
    --page-margin-x: 20vw;

    --component-margin-y: .7rem;
    --component-margin-x: 1rem;

    --header-footer-height: 8vh;
    --main-rows-spacing: 1.5vh;
    --footer-padding: 0 var(--page-margin-x);
    --header-z-index: 16;


    /* >> Hand sections (dealer/player) */
    --hand-bg: rgba(var(--core-dark-1-p), 0.8);
    --hand-height: 200px;
    --hand-max-height: 30vh;
    --hand-width: 90%;
    --hand-margin-y: 0;
    --hand-margin-x: var(--page-margin-x);
    --hand-padding-y: var(--card-margin-y);
    --hand-border-color: rgba(var(--green-dark-1-p), .9);
    --hand-border-color: rgba(var(--yellow-p), .4);
    --hand-border-width: 2.5px;
    --hand-box-shadow: 
        inset 0px 0px 4px 1px rgba(var(--green-p), .7), 
        inset 0px 0px 6px 5px rgba(var(--green-dark-1-p), 1), 
        inset 0px 2px 9px 4px rgba(var(--green-dark-3-p), 0.3), 
        0px 0px 0px 8px rgba(var(--yellow-p), .75); 
    
    --card-group-min-width: 75%;


    /* > Components */

    /* >> modal */
    --modal-background: rgba(var(--neutral-dark-3-p), .90);

    --modal-width: 65vw;
    --modal-height: 60vh;
    --modal-spacing: calc(1rem + 1vw);
    --modal-body-padding: calc(var(--modal-spacing) * 1.5);
    --modal-border-radius: 1.1rem;

    --modal-title-fs: calc(var(--fs-xxl) + 4px);
    --modal-title-fw: normal;
    --modal-content-fs: var(--fs-m);

    --modal-btn-size-adjust: 1.25;
    --modal-footer-btn-w: calc(var(--btn-min-width) * var(--modal-btn-size-adjust));


    /* >> buttons */

    --btn-background-color: var(--core-comp);
    --btn-bg-lighter: var(--core-comp-light-1);
    --btn-bg-lighter-p: var(--core-comp-light-1-p);
    --btn-bg-darker: var(--core-comp-dark-1);
    --btn-bg-darker-p: var(--core-comp-dark-1-p);
    --btn-bg-gradient: linear-gradient(to bottom, rgba(var(--btn-bg-darker-p),0.40), 6%, transparent, 92%, rgba(var(--btn-bg-darker-p),0.75));

    --btn-core-bg-lighter: var(--core-light-1);
    --btn-core-bg-lighter-p: var(--core-light-1-p);
    --btn-core-bg-darker: var(--core-dark-2);
    --btn-core-bg-darker-p: var(--core-dark-2-p);
    --btn-core-ft-bg: var(--core);
    --btn-core-ft-bg-grad: linear-gradient(to top, rgba(var(--btn-core-bg-darker-p),0.40) 6%, 30%, rgba(var(--btn-core-bg-lighter-p),0.55), 92%, rgba(var(--btn-core-bg-darker-p),0.75));
    --btn-core-hover-bg: var(--btn-core-bg-lighter);

    --btn-padding-y: .75rem;
    --btn-padding-x: .75rem;
    --btn-margin-y: var(--component-margin);
    --btn-margin-x: var(--component-margin);

    --btn-text-color: var(--text-main);
    --btn-font-size: var(--font-size);

    --btn-min-width: 120px;
    --btn-min-height: 40px;
    --btn-border-width: 0;
    --btn-border-color: var(--border-color);
    /* --btn-border-radius: var(--border-radius); */
    --btn-border-radius: .4rem;

    --btn-box-shadow: 
        inset 0 -1px 4px 1px rgba(var(--black), .30), 
        /* inset 0 .5px 0 .5px rgba(var(--white), .15),  */
        /* inset 0px -.5px 0 .5px rgba(var(--white), .15),  */
        0 2px 4px 2px rgba(var(--black), .3);

    --btn-hover-bg: rgba(var(--btn-bg-lighter-p));
    --btn-hover-text-color: var(--btn-text-color);
    --btn-hover-bd-width: var(--btn-border-width);
    --btn-hover-bd-color: var(--btn-border-color);
    --btn-transition: color .15s ease-in-out, background-color .05s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;


    
    /* --btn-close-bg: ;
    --btn-close-bg-gradient: ;
    --btn-bg-gradient: linear-gradient(to bottom, rgba(var(--btn-bg-darker-p),0.75), 8%, transparent, 92%, rgba(var(--btn-bg-darker-p),0.75)); */

    /* >> Cards */

    --card-aspect-ratio: 112 / 157;
    --card-height: 28vh;

    --card-bg: rgba(var(--core-p), .8);
    --card-text-color: var(--text-color);
    --card-border-color: rgba(var(--border-color-p), 0.4);
    --card-border-width: 0;
    --card-border-radius: .65rem;
    --card-inner-shadow: inset 0 1px 3px 2px rgba(var(--dark-p), .15);
    --card-box-shadow: var(--box-shadow);

    --card-margin-y: .5rem;
    --card-margin-x: var(--component-margin-x);

    --card-empty-box-shadow: inset 0 1px 0 rgba(var(--dark-p), .15);
    --card-empty-bg: var(--card-bg);
    --card-empty-bd-width: var(--border-width);
    --card-empty-bd-color: var(--card-border-color);

    --card-hover-box-shadow: var(--box-shadow);
    /* --card-transition: color .15s ease-in-out, background-color .05s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; */
    /* --card-hover-box-shadow: inset 0 1px 0 rgba(var(--white), .15), var(--card-box-shadow); */
}


/* GENERAL */

/* > Layout and Sections */

html {
    height: 100vh;
}

body {
    width: 100% !important;
    min-height: 100%;
    padding: 0;
    margin: 0;
    
    color: var(--text-color);
    font-family: var(--font-family);
    
    background-color: var(--background-color);
    background-image: var(--background-grad);
    overflow-x: hidden;
}


/* 

body > div {
    width: 100%;
} */

.flex {
    display: flex;
}

.flex > * {
    margin: var(--component-margin-y) var(--component-margin-x);
}


.flex-col > * {
    margin: var(--component-margin);
}

.flex-col {
    display: flex;
    flex-direction: column;
}


.flex.f-center {
    align-items: center;
    justify-content: center;
}

.flex-col.f-center {
    align-content: center;
    justify-items: center;
}

.justify-s-right {
    justify-self: flex-end !important;
}



.main-container {
    --main-min-height: calc(100vh - (var(--header-footer-height) * 2));
    
    min-height: var(--main-min-height);

    display: grid;
    grid-template-rows: auto var(--main-rows-spacing) auto;
    /* grid-template-rows: calc(var(--main-min-height) / 2) calc(var(--main-min-height) / 2); */
    grid-template-columns: 100vw;

    align-self: center;
    contain: strict;
} 


/* COMPONENTS */


/*  > Modal */


div.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow-y: hidden;
    z-index: calc(var(--header-z-index) + 1);
    /* transition: all ease-in-out 15s; */
}


#modal-bg, div.modal-bg {

    background: rgba(var(--dark-p), .8);
    
    height: 100%;
    width: 100%;

    display: flex; 
    position: fixed;
    top: 0;
    z-index: calc(var(--header-z-index) + 2);

    overflow: clip; 
    contain: strict;
    
    align-items: center;
    justify-content: center;

    color: var(--text-color);

    /* transition: display .5s ease-in-out; */
}

div.modal-body > * {
    color: var(--text-color);
}

div.modal-body {
    background: var(--modal-background);
    
    width: var(--modal-width);
    height: var(--modal-height);
    padding: var(--modal-body-padding);
    border-radius: var(--modal-border-radius);

    justify-self: center;
    align-self: center;

    display: flex !important;
    flex-direction: column;
    align-content: stretch;

    position: fixed;
    z-index: calc(var(--header-z-index) + 3);
    contain: strict;

    box-shadow: var(--box-shadow-lg);

    /* overflow-y: scroll; */
}

div.modal-body > * {
    z-index: calc(var(--header-z-index) + 4);
    padding: var(--modal-spacing);
}


/* >> Modal body sections */

div.modal-body .modal-header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 50px;
    padding: 0;
}

.modal-header.border {
    border-width: 0;
    border-bottom: 1px solid rgba(var(--grey-dark-1-p), .9)
}

div.modal-title {
    color: var(--text-color);
    margin: var(--modal-spacing);

    display: flex;
    justify-content: center;
    /* align-self: top; */
    grid-area: 1 / 1 / -1 / -1;
}

div.modal-title * {
   margin: 0;
   font-size: var(--modal-title-fs) !important;
   font-weight: var(--modal-title-fw);
}

div.modal-body .dismiss-btn { 
    grid-area: 1 / -2 / -1 / -1;

    padding: 0;
    margin: 0;
    min-width: fit-content;
    align-self: flex-start; 

    text-align: end;
    transform: translate(45%, -50%);
    font-size: var(--fs-xxl);
}

div.modal-body .modal-content { 
    flex: 1;
    font-size: var(--modal-content-fs);
}

div.modal-footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.modal-footer button {
    width: var(--modal-footer-btn-w);
    height: calc(var(--modal-footer-btn-w) * 0.35);
    margin: var(--modal-spacing);
    
    flex-shrink: 0;
    font-size: calc(var(--modal-content-fs) * var(--modal-btn-size-adjust)) !important;
    font-size: calc(var(--btn-font-size) * var(--modal-btn-size-adjust)) !important;
}

.mdl.hide, .modal.hide, .modal-body.hide, .modal-bg.hide, .modal-container.hide {
    display: none !important;
}

.modal-content.message {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 2.20rem;
    text-align: center !important;
    vertical-align: center;
    padding-bottom: 0;
}

.modal-content.message .lines {
    font-size: calc(var(--modal-title-fs) * .5);
    flex: 1;
}

.modal-content.message .subheader {
    font-size: calc(var(--modal-title-fs) * .6);
    font-style: italic;
    margin-bottom: 1.2rem;
}

div.modal-body.message .lineEmph {
    font-size: calc(var(--modal-title-fs) * .75);
    padding-top: var(--modal-spacing);
}



/* > INFO boxes (header) */

div.info-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    z-index: calc(var(--header-z-index) - 1);
}

div.info-bg {
    background: transparent;
    
    height: 100%;
    width: 100%;

    display: flex; 
    position: fixed;
    top: 0;
    z-index: calc(var(--header-z-index));
}

div.info-body {
    background: var(--modal-background);
    
    width: 30vw;
    height: max-content;
    padding: 1.1rem;
    padding-top: calc(var(--header-footer-height) - 1.5rem);
    border-radius: 0 0 .7rem 0;
    
    position: fixed;
    /* top: var(--header-footer-height); */
    top: 0;
    z-index: calc(var(--header-z-index));
    word-wrap: normal;
}

div.info-content {
    padding: 1rem;
    margin-top: 1rem;
    background: rgba(var(--neutral-dark-3-p), 0.9);
    border-radius: var(--border-radius);
}

div.info-content ul { 
    padding-inline-start: 1rem;
}

div.info-content li { 
    padding-bottom: .7rem;
    padding-left: .4rem;
}

div.info-content li::marker { 
    color: var(--grey);
}

.info-content p {
    color: var(--grey-light-2);
    text-align: center;
    margin: .5rem 0;
    margin-bottom: 1.5rem;
    font-size: var(--fs-m);
    font-weight: 500;
}

.info.hide { 
    display: none;
}


/* > CARD slots */

.card {
    /* position: relative; */

    /* display: flex; */
    /* flex-direction: column; */
    /* justify-self: center; */

    /* box-sizing: border-box !important; */
    aspect-ratio: var(--card-aspect-ratio) !important;

    height: var(--card-height) !important;
    min-height: 100px;
    margin: var(--card-margin-y) var(--card-margin-x);
    padding: 0;

    color: var(--card-text-color);
    word-wrap: break-word;
    background-color: var(--card-bg) !important;
    background-clip: border-box;
    /* border: var(--card-border-width) solid var(--card-border-color); */
    border: var(--card-border-width) solid var(--card-border-color) !important;
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow) !important; 
    
    overflow: hidden;

    /* transition: transform 1s; */


    &.empty {
        background: var(--card-empty-bg);
        box-shadow: var(--card-empty-box-shadow);
        border: var(--card-empty-bd-width) solid var(--card-empty-bd-color) !important;
        border-radius: var(--card-border-radius);
    }

    &.stack {
        position: absolute;   
    }

    &.new {
        /* display: none; */
        visibility: hidden;
    }
}

/* .card.empty {  
    background: var(--card-empty-bg);
    box-shadow: var(--card-empty-box-shadow);
}*/

.card.new, .card.hide {
    display: none;
}


.card > img {
    object-fit: cover;
    width: 102%;
    height: 102%;
    object-position: -2.5px -2.5px;

    /* position: relative; */
    /* left: -1px;
    right: -1px; */
    /* height: -webkit-fill-available; */
}



/* > BUTTONS */

.btn {
    display: inline-block;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    min-width: var(--btn-min-width);
    min-height: var(--btn-min-height);

    background-color: var(--btn-background-color);
    background-image: var(--btn-bg-gradient);
    color: var(--btn-text-color);
    font-size: (var(--btn-font-size));
    text-align: center;
    /* white-space: nowrap; */ /* Turn on to prevent text-wrapping */
    vertical-align: middle;
    cursor: pointer; /* Turn off to disable pointer on hover */
    
    border: var(--btn-border-width) solid var(--btn-border-color) !important;
    border-radius: var(--btn-border-radius) !important;
    box-shadow: var(--btn-box-shadow) !important;

    transition: var(--btn-transition); 
}

.btn:hover, .btn:active {
    color: var(--btn-hover-text-color);
    background-color: var(--btn-hover-bg);
    border-color: var(--btn-hover-bd-color);
    border-width: var(--btn-hover-bd-width);
}

button.btn.core {
    /* Use core color(s) for modal buttons, instead of complementary */
    background: var(--btn-core-ft-bg);
    background-image: var(--btn-core-ft-bg-grad);
    
    &:hover {
        /* color: var(--btn-hover-text-color); */
        background-color: var(--btn-core-hover-bg);
        /* border-color: var(--btn-hover-bd-color);
        border-width: var(--btn-hover-bd-width); */
    }
}

.dismiss-btn {
    background: transparent;
    border-width: 0;

    color: rgba(var(--neutral-bw-p), .8);
    font-size: var(--fs-xl);
    /* width: 20px;
    height: 20px; */

    &:hover {
        color: rgba(var(--neutral-bw-p), 1);
        cursor: pointer;
    }
}




/* SECTIONS */

/*  > Top - controls/info bar */

#control-bar, .top-bar {
    justify-content: space-between;
    position: sticky;
    top: 0;

    height: var(--header-footer-height);
    align-items: center;
    z-index: var(--header-z-index);
}

#control-bar > .flex {
    margin: 0 !important;
    padding: 0;
    padding-left: .5rem;
}

.info-box, .info-buttons {
    margin: var(--component-margin-y) var(--component-margin-x) !important;
    cursor: pointer;
    z-index: calc(var(--header-z-index) + 5);
}

#control-bar > form {
    align-items: center;
    justify-content: end;
}




/*  > Body sections (dealer + player hands, etc) */


#dealer, #player { 
    padding-top: var(--main-rows-spacing);
    padding-bottom: var(--main-rows-spacing); 
}

#dealer {
    order: 0; 
}

#player {
    grid-row-start: 3;
    order: 2;
}

.row h2 {
    color: var(--grey-light-2);
    font-style: italic;
    text-align: center;
    margin: .25rem 0;
}

#dealer h2 { order: 5;  margin-top: .9rem}
#player h2 { margin-bottom: .9rem}

div.hand {
    box-shadow: var(--hand-box-shadow);
    background-color: var(--hand-bg);

    min-height: var(--hand-height);
    height: 100%;

    margin: var(--hand-margin-y) var(--hand-margin-x);
    padding: var(--hand-padding-y) 0;
    
    border: var(--hand-border-width) solid var(--hand-border-color);
    border-radius: var(--border-radius);

    justify-content: center;
    align-items: stretch;
    
    contain: strict;

    overflow: hidden;
}

div.hand-group {
    flex-shrink: 0;
    display: inline-flex;
    --card-group-max-width: 90%;

    background: transparent;
    border-width: 0;

    height: 100%;
    margin: 0;
    /* margin: var(--hand-margin-y) var(--hand-margin-x); */
    /* width: var(--card-group-max-width); */

    min-width: var(--card-group-min-width);
    width: max-content;
    justify-content: center;
    align-items: center;

    overflow: visible !important;

}


/*  > Bottom/footer Sections*/

#player-options, .footer.sticky {
    justify-content: center;
    position: absolute;
    bottom: 0;

    min-height: var(--header-footer-height);
    width: 100vw;
    /* padding: var(--footer-padding); */
    overflow: hidden;

    align-items: center;
    z-index: calc(var(--header-z-index) - 2);
}

.footer > form { 
    margin: var(--footer-padding); 
    margin-bottom: .5vh;
}

#player-options > form {
    justify-content: space-between;
    width: 100%;
}

#player-options .btn {
    width: calc(var(--btn-min-width) + 10vw);

}

@media (max-width: 1200px) {
    :root {
        --page-margin-x: 15vw;
        --modal-width: 70vw;
    }
}


@media (max-width: 992px) {
    :root {
        --page-margin-x: 13vw;
        --modal-width: 80vw;
    }
}


@media (max-width: 768px) {

    :root {
        --page-margin-x: 10vw;

        --card-height: 45vh;
        --card-border-radius: .80rem;
        --card-margin-y: .7rem;

        --card-group-min-width: 85%;
        --card-group-min-width: 450px;
    }
    
    .hand-group {
        align-items: flex-start !important;
    }
    
    .card {
        transition: transform .25s;
    }

    div.info-body {
        width: 50vw;
    }

}


@media (max-width: 576px) {
    :root {
        --hand-width: 95%;
        --page-margin-x: 5vw;
    }

    div.hand {
        justify-content: flex-start;
    }

    div.hand-group {
        margin-left: 4vw;
    }

    div.info-body {
        width: 100vw;
    }
}

@media (max-width: 370px) {
    :root {
        /* --page-margin-x: 5vw; */
        --card-margin-y: .3rem;
        --card-group-min-width: 430px;
    }
}